In [3]:
class SampleClass:
        # (builtin) member method
    def __init__(self, attribute): # < self is the SampleClass....
        self.attribute = attribute # other args provided to constructor

class SubClass(SampleClass):
    def other(self):
        print(self.attribute)

In [4]:
import pandas as pd

In [10]:
df = pd.DataFrame({"A": [1, 2, 3, 4], "B": [1, 2, 3, 4]})

In [11]:
df["A"][0]

1

In [12]:
df.loc[0:1, ['A', 'B']]

   A  B
0  1  1
1  2  2

In [14]:
df = df.drop("B", axis = 1)

In [15]:
import pandas as pd

# Create a simple DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)

# Use filter to select columns containing 'Age' or 'City'
filtered_columns = df.filter(items=['Age', 'City'])

print(filtered_columns)

   Age         City
0   25     New York
1   30  Los Angeles
2   35      Chicago
3   40      Houston

In [17]:
df[df["Age"] > 31]

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston