In [1]:
[1 5 6; 2 4 9; 3 2 5]

3×3 Matrix{Int64}:
 1  5  6
 2  4  9
 3  2  5

In [2]:
hcat([1, 2, 3], [5, 4, 2], [6, 9, 5])

3×3 Matrix{Int64}:
 1  5  6
 2  4  9
 3  2  5

In [3]:
typeof([1, 2, 3, 4])

Vector{Int64} (alias for Array{Int64, 1})

In [4]:
typeof([5 10; 2 3])

Matrix{Int64} (alias for Array{Int64, 2})

In [5]:
mutable struct SampleArray{T <: Any, N}
end

const SampleVector{T} = SampleArray{T, 1}

SampleVector (alias for SampleArray{T, 1} where T)

In [6]:
function example(vec::Vector{Int64})
    println("the input was a vector")
end

function example(vec::Matrix{Int64})
    println("the input was a matrix")
end

example (generic function with 2 methods)

In [7]:
example([5, 6])

example([5 6; 7 8])

the input was a vector
the input was a matrix

In [65]:
x = [5, 10, 15]
y = [5 10; 15 20]

println("vector size: $(size(x)) | vector length: $(length(x))")
println("matrix size: $(size(y)) | matrix length: $(length(y))")

vector size: (3,) | vector length: 3
matrix size: (2, 2) | matrix length: 4

In [67]:
vcat(hcat(x, x), y)

5×2 Matrix{Int64}:
  5   5
 10  10
 15  15
  5  10
 15  20

In [68]:
x[1:end]

3-element Vector{Int64}:
  5
 10
 15

In [76]:
y

2×2 Matrix{Int64}:
  5  10
 15  20

In [75]:
y[1:2, 1:1]

2×1 Matrix{Int64}:
  5
 15

In [8]:
function give_me_my_function()
     function my_function(x::String)
           println("you provided a String")
     end
     function my_function(x::Int64)
           println("you provided an integer")
     end
     return(my_function)
end

give_me_my_function (generic function with 1 method)

In [9]:
myfunc = give_me_my_function()
myfunc(5)
myfunc("hi")

you provided an integer
you provided a String

In [10]:
x = v::Int64 -> v += 5
x(5)

10

In [11]:
x = (x::Int64, y::Int64) -> begin
    println("sum: $(x + y)")
end

x(5, 10)

sum: 15

In [12]:
using DataFrames
df = DataFrame(:A => [1, 3, 2, 3, 6, 7, 3, 9], :B => [1, 7, 2, 3, 4, 1, 2, 6])

8×2 DataFrame
 Row │ A      B
     │ Int64  Int64
─────┼──────────────
   1 │     1      1
   2 │     3      7
   3 │     2      2
   4 │     3      3
   5 │     6      4
   6 │     7      1
   7 │     3      2
   8 │     9      6

In [13]:
sample = filter(row -> row[:A] > 2, df)

6×2 DataFrame
 Row │ A      B
     │ Int64  Int64
─────┼──────────────
   1 │     3      7
   2 │     3      3
   3 │     6      4
   4 │     7      1
   5 │     3      2
   6 │     9      6

In [14]:
values = [2, 8, 7, 5, 3, 4]

filtered_copy = filter(x -> x < 5, values)
println(filtered_copy)

[2, 3, 4]

In [15]:
filter!(v -> v < 6, values); println(values)

[2, 5, 3, 4]

In [16]:
using Statistics

values = [rand(1:10) for i in 1:200]
println(values)
function normalize(x::Number, mu::Number, std::Number)
    (x - mu) / std
end

println(broadcast(normalize, values, length(values) / sum(values), Statistics.std(values)))

[2, 1, 5, 1, 9, 5, 10, 7, 6, 10, 8, 10, 6, 10, 3, 3, 3, 10, 2, 2, 3, 5, 8, 9, 1, 1, 10, 6, 7, 8, 7, 3, 4, 2, 3, 9, 1, 4, 9, 4, 1, 4, 7, 5, 7, 4, 2, 5, 9, 3, 5, 5, 3, 5, 1, 8, 5, 2, 10, 10, 3, 2, 2, 5, 2, 10, 5, 6, 4, 9, 2, 2, 6, 4, 6, 7, 10, 5, 9, 4, 10, 6, 3, 3, 7, 10, 5, 8, 7, 8, 5, 2, 5, 4, 8, 6, 4, 1, 8, 1, 7, 2, 1, 10, 9, 1, 1, 5, 5, 3, 7, 8, 6, 5, 10, 8, 7, 6, 8, 10, 6, 6, 2, 2, 10, 3, 10, 1, 5, 6, 6, 8, 8, 7, 5, 4, 6, 2, 7, 1, 8, 2, 7, 5, 7, 8, 1, 6, 5, 6, 5, 3, 10, 6, 10, 4, 7, 8, 8, 3, 9, 8, 9, 9, 1, 5, 5, 9, 6, 1, 1, 10, 5, 2, 2, 4, 3, 3, 4, 2, 6, 1, 5, 10, 2, 4, 1, 9, 4, 3, 1, 10, 4, 10, 10, 3, 8, 9, 9, 8]
[0.6249090219242578, 0.28089344924878257, 1.6569557399506838, 0.28089344924878257, 3.0330180306525847, 1.6569557399506838, 3.37703360332806, 2.3449868853016342, 2.000971312626159, 3.37703360332806, 2.6890024579771095, 3.37703360332806, 2.000971312626159, 3.37703360332806, 0.9689245945997332, 0.9689245945997332, 0.9689245945997332, 3.37703360332806, 0.6249090219242578, 0.6249090219242578, 0.9689245945997332, 1.6569557399506838, 2.6890024579771095, 3.0330180306525847, 0.28089344924878257, 0.28089344924878257, 3.37703360332806, 2.000971312626159, 2.3449868853016342, 2.6890024579771095, 2.3449868853016342, 0.9689245945997332, 1.3129401672752086, 0.6249090219242578, 0.9689245945997332, 3.0330180306525847, 0.28089344924878257, 1.3129401672752086, 3.0330180306525847, 1.3129401672752086, 0.28089344924878257, 1.3129401672752086, 2.3449868853016342, 1.6569557399506838, 2.3449868853016342, 1.3129401672752086, 0.6249090219242578, 1.6569557399506838, 3.0330180306525847, 0.9689245945997332, 1.6569557399506838, 1.6569557399506838, 0.9689245945997332, 1.6569557399506838, 0.28089344924878257, 2.6890024579771095, 1.6569557399506838, 0.6249090219242578, 3.37703360332806, 3.37703360332806, 0.9689245945997332, 0.6249090219242578, 0.6249090219242578, 1.6569557399506838, 0.6249090219242578, 3.37703360332806, 1.6569557399506838, 2.000971312626159, 1.3129401672752086, 3.0330180306525847, 0.6249090219242578, 0.6249090219242578, 2.000971312626159, 1.3129401672752086, 2.000971312626159, 2.3449868853016342, 3.37703360332806, 1.6569557399506838, 3.0330180306525847, 1.3129401672752086, 3.37703360332806, 2.000971312626159, 0.9689245945997332, 0.9689245945997332, 2.3449868853016342, 3.37703360332806, 1.6569557399506838, 2.6890024579771095, 2.3449868853016342, 2.6890024579771095, 1.6569557399506838, 0.6249090219242578, 1.6569557399506838, 1.3129401672752086, 2.6890024579771095, 2.000971312626159, 1.3129401672752086, 0.28089344924878257, 2.6890024579771095, 0.28089344924878257, 2.3449868853016342, 0.6249090219242578, 0.28089344924878257, 3.37703360332806, 3.0330180306525847, 0.28089344924878257, 0.28089344924878257, 1.6569557399506838, 1.6569557399506838, 0.9689245945997332, 2.3449868853016342, 2.6890024579771095, 2.000971312626159, 1.6569557399506838, 3.37703360332806, 2.6890024579771095, 2.3449868853016342, 2.000971312626159, 2.6890024579771095, 3.37703360332806, 2.000971312626159, 2.000971312626159, 0.6249090219242578, 0.6249090219242578, 3.37703360332806, 0.9689245945997332, 3.37703360332806, 0.28089344924878257, 1.6569557399506838, 2.000971312626159, 2.000971312626159, 2.6890024579771095, 2.6890024579771095, 2.3449868853016342, 1.6569557399506838, 1.3129401672752086, 2.000971312626159, 0.6249090219242578, 2.3449868853016342, 0.28089344924878257, 2.6890024579771095, 0.6249090219242578, 2.3449868853016342, 1.6569557399506838, 2.3449868853016342, 2.6890024579771095, 0.28089344924878257, 2.000971312626159, 1.6569557399506838, 2.000971312626159, 1.6569557399506838, 0.9689245945997332, 3.37703360332806, 2.000971312626159, 3.37703360332806, 1.3129401672752086, 2.3449868853016342, 2.6890024579771095, 2.6890024579771095, 0.9689245945997332, 3.0330180306525847, 2.6890024579771095, 3.0330180306525847, 3.0330180306525847, 0.28089344924878257, 1.6569557399506838, 1.6569557399506838, 3.0330180306525847, 2.000971312626159, 0.28089344924878257, 0.28089344924878257, 3.37703360332806, 1.6569557399506838, 0.6249090219242578, 0.6249090219242578, 1.3129401672752086, 0.9689245945997332, 0.9689245945997332, 1.3129401672752086, 0.6249090219242578, 2.000971312626159, 0.28089344924878257, 1.6569557399506838, 3.37703360332806, 0.6249090219242578, 1.3129401672752086, 0.28089344924878257, 3.0330180306525847, 1.3129401672752086, 0.9689245945997332, 0.28089344924878257, 3.37703360332806, 1.3129401672752086, 3.37703360332806, 3.37703360332806, 0.9689245945997332, 2.6890024579771095, 3.0330180306525847, 3.0330180306525847, 2.6890024579771095]

In [17]:
# comprehension
my_zeros = [0 for x in 1:100]

# alternative
my_zeros = Vector{Int64}()
for x in 1:100
    push!(my_zeros, x)
end

In [18]:
# dict comprehension
names = ["steve", "john", "hank"]
dct = Dict{Int64, String}(rand(1:10) => names[e] for e in 1:length(names))

Dict{Int64, String} with 2 entries:
  6 => "hank"
  2 => "john"

In [19]:
# array comprehension
values = [rand(1:10) for x in 1:20]

20-element Vector{Int64}:
 8
 4
 7
 2
 1
 2
 5
 9
 1
 5
 1
 4
 6
 3
 6
 9
 3
 1
 6
 5

In [20]:
# tuple comprehension
dir_parts = ["DIRECTORY: ~", "DIRECTORY: projects", "DIRECTORY: example", "FILE: sample.txt"]
join((replace(part, "DIRECTORY: " => "", "FILE: " => "") for part in dir_parts), "/")

"~/projects/example/sample.txt"

In [21]:
# multi-line comprehension
values = [begin
        y = x + 10
        y * 5
    end for x in 1:50]

50-element Vector{Int64}:
  55
  60
  65
  70
  75
  80
  85
  90
  95
 100
 105
 110
 115
   ⋮
 245
 250
 255
 260
 265
 270
 275
 280
 285
 290
 295
 300

In [22]:
import Base: getindex, setindex!, in
mutable struct Employee
    EIN::Int64
    f_name::String
    l_name::String
end

In [43]:
function in(name::String, employees::Vector{Employee})
    names = split(replace(name, " " => ""), ",")
    f_name = names[2]
    l_name = names[1]
    found = findfirst(emp::Employee -> emp.l_name == l_name && emp.f_name == f_name, employees)
    ~(isnothing(found))
end

in (generic function with 60 methods)

In [44]:
function getindex(employees::Vector{Employee}, l_name::String, f_name::String)
    found = findfirst(emp::Employee -> emp.l_name == l_name && emp.f_name == f_name, employees)
    if isnothing(found)
        throw(BoundsError())
    end
    employees[found]::Employee
end

getindex (generic function with 357 methods)

In [45]:
employees = [Employee(55, "Emma", "Boudreau"), Employee(23, "Sam", "Novel"), Employee(47, "steve", "phillips")]

3-element Vector{Employee}:
 Employee(55, "Emma", "Boudreau")
 Employee(23, "Sam", "Novel")
 Employee(47, "steve", "phillips")

In [46]:
if "Boudreau, Emma" in employees
    println(employees["Boudreau", "Emma"])
end

if "Jones, Hank" in employees
    println(employees["Jones", "Hank"])
end

Employee(55, "Emma", "Boudreau")

In [47]:
my_string = "Julia is awesome! c:"

smile = findfirst("c:", my_string)

19:20

In [48]:
accumulate(+, [1, 1, 8, 1])

4-element Vector{Int64}:
  1
  2
 10
 11

In [52]:
accumulate(/, [100, 5, 5])

3-element Vector{Float64}:
 100.0
  20.0
   4.0

In [57]:
accumulate(+, fill(8, 4, 6), init=100.0)

4×6 Matrix{Float64}:
 108.0  140.0  172.0  204.0  236.0  268.0
 116.0  148.0  180.0  212.0  244.0  276.0
 124.0  156.0  188.0  220.0  252.0  284.0
 132.0  164.0  196.0  228.0  260.0  292.0

In [59]:
repeat([1, 2, 3, 4], 3)

12-element Vector{Int64}:
 1
 2
 3
 4
 1
 2
 3
 4
 1
 2
 3
 4

In [62]:
repeat([1, 2, 3, 4], outer = 5, inner = 2)

40-element Vector{Int64}:
 1
 1
 2
 2
 3
 3
 4
 4
 1
 1
 2
 2
 3
 ⋮
 3
 3
 4
 4
 1
 1
 2
 2
 3
 3
 4
 4

In [64]:
repeat([5, 10], inner=2)

4-element Vector{Int64}:
  5
  5
 10
 10