In [1]:
abstract type AbstractStructure end

mutable struct Structure <: AbstractStructure
    field::Type
end

function other(str::AbstractStructure)
    println(str.field)
end

other (generic function with 1 method)

In [2]:
import Base: length

struct Pizza
   radius::Float64
end

length(pizza::Pizza) = pizza.radius * 2

length (generic function with 90 methods)

# surface level differences

In [5]:
using DataFrames

In [7]:
df = DataFrame("A" => [1, 2, 3], "B" => [1, 2, 3])

3×2 DataFrame
 Row │ A      B
     │ Int64  Int64
─────┼──────────────
   1 │     1      1
   2 │     2      2
   3 │     3      3

In [9]:
println(df[1, 1])

println(df[1:2, 1:2])

1
2×2 DataFrame
 Row │ A      B
     │ Int64  Int64
─────┼──────────────
   1 │     1      1
   2 │     2      2

## paradigm influences

In [10]:
mat = [5 8 4 6 2 9 8 3; 5 2 8 3 10 9 7 11]
for col in eachcol(mat)
    println(col)
end
println("========")
df = DataFrame("A" => [1, 2, 3], "B" => [5, 3, 8])
for col in eachcol(df)
    println(col)
end

[5, 5]
[8, 2]
[4, 8]
[6, 3]
[2, 10]
[9, 9]
[8, 7]
[3, 11]
========
[1, 2, 3]
[5, 3, 8]

In [11]:
using Statistics: std, mean

function normalize(vec::Vector{<:Real})
    mu = mean(vec)
    sigma = std(vec)
    [(mu - xbar) / sigma for xbar in vec]::Vector{<:Real}
end

function normalize(data::Any)
  # will create a new `Matrix` of the concatenated columns.
  hcat([normalize(column) for column in eachcol(data)])
end

normalize (generic function with 2 methods)

In [12]:
normalize(df)

2×1 Matrix{Vector{Float64}}:
 [1.0, 0.0, -1.0]
 [0.13245323570650427, 0.9271726499455306, -1.0596258856520353]

In [16]:
df = df[!, Not("B")]

3×1 DataFrame
 Row │ A
     │ Int64
─────┼───────
   1 │     1
   2 │     2
   3 │     3

In [17]:
for col in eachcol(df)
    [println(observation) for observation in col]
end

1
2
3